<div class="page-header"><h1>Add Cupboard</h1></div>
<div class="jumbotron">
<%= form_for @cupboard, method: "PUT" do |f| %>
	<% if @cupboard.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@cupboard.errors.count, "error") %> prohibited this user from being saved:</h2>

		<ul>
			<% @cupboard.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
		</ul>
	</div>
<% end %>

	<div class="box-body">
	<div class="form-group">
		<label>Cupboard Name</label>
			<%= f.text_field :name, autocomplete: "off", placeholder: "Enter Cupboard Name", class: "form-control", required: true %>
	</div>
	<div class="form-group">
		<label>Description</label>
		<%= f.text_field :description, autocomplete: "off", placeholder: "Enter Cupboard Description", class: "form-control", required: true %>
	</div>
	
                   

	<!-- /.box-body -->
	<div class="box-footer">
		<%= f.submit "Update", class: "btn btn-primary"%>
	</div>
<% end %>

</div>