<div class="page-header" style="align: centre"><h1>Cupboards</h1></div>
<div class="col-md-12">
<div class="col-md-6">
<div class="jumbotron">
<%= form_for @cupboard do |f| %>
 
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <%= f.submit 'Add Cupboard', class: 'btn btn-primary btn-lg' %>
<% end %>
</div>
</div>

<div class="col-md-6">
  <table class="table table-bitem_usersed table-hover">
	  <tr>
	    <th>Cupboard Name</th>
	    <th>Cupboard Description</th>
	    <th>
	      <i class="ion ion-edit"></i>
	    </th>
	    <th>
	      <i class="ion ion-trash-b"></i>
	    </th>
	  </tr>
	  <% @cupboards.each do |cupboard| %>
	  <tr>
	  	<!--Would add sorting-->
	    <td><%= cupboard.name %></td>
	    <td><%= cupboard.description %></td>
	    <td><%= link_to "", edit_cupboard_path(cupboard.id), { class: "ion ion-edit"} %></td>
	    <td><%= link_to "", cupboard_path(cupboard.id) ,method: :delete , data: { confirm: 'Are you sure that you would like to delete this cuboard? All items in the cupboard will be destroyed!' },  class: "ion ion-trash-b" %></td>
	  </tr>

	  <% end %>
	</table>

		   <%= render 'shared/errors', object: @cupboard %>
</div>
</div>