<body class="hold-transition skin-blue sidebar-mini">
<%= render 'layouts/header' %>
<div class="content-wrapper">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Edit user
    </h1>

  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-header">
          <div class="box-header with-border">
            <h3 class="box-title">Basic Information</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <%= form_for @user, method: "PUT" do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="box-body">
             <div class="form-group">
                <label>Full Name</label>
                <%= f.text_field :name, autocomplete: "off", placeholder: "Enter Full Name", class: "form-control", required: true %>
              </div>
             <div class="form-group">
                <label>E-mail Address</label>
                <%= f.text_field :email, autocomplete: "off", placeholder: "Enter Email Address", class: "form-control", required: true %>
              </div>

            <!-- /.box-body -->
            <div class="box-footer">
              <%= f.submit "Submit", class: "btn btn-primary"%>
            </div>
            <% end %>
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (right) -->
    </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->

</div>
</body>