<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->


      <!-- Main content -->
      <section class="content">
        <!-- Small boxes (Stat box) -->
     
             <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-bitem_users">
                <h3 class="box-title">On loan (<%= @active.count %>)</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bitem_usersed table-hover">
                  <thead>
                    <tr>
                      <th>Description</th>
                      <th>Qty</th>
                      <th>Return By</th>
                      <th>Borrowed By</th>
                      <th>
                        <i class="ion ion-log-in"></i>
                      </th>
                      <th>
                        <i class="ion ion-loop"></i>
                      </th>
                      <th>
                        <i class="ion ion-trash-b"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                <!--     <% @active.each do |item_user| %>
                    <tr>
                      <td>
                        <%= item_user.item.name %>
                     </td>
                      <td>
                        <%= item_user.quantity %>                        
                      </td>                      
                      <td>
                        <%= item_user.return_date.strftime("%y:%m:%d") %>
                      </td>     
                      <td>
                        <%= item_user.user.name %>
                      </td>
                      <td>
                        <%= link_to "", { :controller => :item_users, :action => :disable, :id => item_user.id }, { class: "ion ion-log-in"} %>
                      </td>
                      <td>
                        <%= link_to "", { :controller => :item_users, :action => :renew, :id => item_user.id }, { class: "ion ion-loop"} %>
                      </td>
                      <td >
                        <%= link_to show_path, method: :delete, data: { confirm: 'Are you sure? If trying to return an item please use the "return" button.' } do %>
                        <i class="ion ion-trash-b"></i>
                        <% end %> -->
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.box -->
          </div>
        </div>
          <!-- ./col -->

          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-bitem_users">
                <h3 class="box-title">Users (<%= @users.count %>)</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bitem_usersed table-hover">
                  <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>
                      <i class="ion ion-edit"></i>
                    </th>
                    <th>
                      <i class="ion ion-trash-b"></i>
                    </th>
                  </tr>
                  <% @users.each do |user| %>
                  <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= link_to "", edit_user_path(user), { class: "ion ion-edit"} %></td>
                    <td>
                      <%= link_to users_path, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="ion ion-trash-b"></i>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                </table>
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    
  
  </body>
