<body>
  <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-9">
          <div class="box">
            <div class="box-header with-bitem_users">
              <h3 class="box-title">On loan (<%= @active.count %>)</h3>
            </div>
            <div class="box-body">
              <table class="table table-bitem_usersed table-hover">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Cupboard</th>
                    <th>Qty</th>
                    <th>Return By</th>
                    <th>Borrowed By</th>
                    <th>
                      <i class="ion ion-log-in"></i>
                    </th>
                    <th>
                      <i class="ion ion-loop"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @active.each do |item_user| %>
                  <tr>
                    <td>
                      <%= item_user.item.name %>
                   </td>
                   <td>
                      <%= item_user.item.cupboard_id %>
                   </td>                     
                    <td>
                      <%= item_user.quantity %>                        
                    </td>                      
                    <td>
                      <%= item_user.return_date %>
                    </td>     
                    <td>
                      <%= item_user.user.name %>
                    </td>
                    <td>
                      <%= link_to "", { :controller => :item_users, :action => :disable, :id => item_user.id }, { class: "ion ion-log-in"} %>
                    </td>
                    <td>
                      <%= link_to "", { :controller => :item_users, :action => :renew, :id => item_user.id }, { class: "ion ion-loop"} %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="box">
          <div class="box-header with-bitem_users">
            <h3 class="box-title">Users (<%= @users.count %>)</h3>
          </div>
          <div class="box-body">
            <table class="table table-bitem_usersed table-hover">
              <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>
                  <i class="ion ion-edit"></i>
                </th>
                <th>
                  <i class="ion ion-trash-b"></i>
                </th>
              </tr>
              <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= link_to "", edit_user_path(user), { class: "ion ion-edit"} %></td>
                <td>
                    <%= link_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="ion ion-trash-b"></i>
                    <% end %>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>  
</body>
