<body class="hold-transition skin-blue sidebar-mini">

<div class="content-wrapper">

  <section class="content-header">

  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-header">
          <div class="box-header with-border">
            <h3 class="box-title">Item Information</h3>
          </div>
          <%= form_for @item_user, method: "POST" do |f| %>
            <% if @item_user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@item_user.errors.count, "error") %> prohibited this item from being saved:</h2>

                <ul>
                <% @item_user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="box-body">
    
            <div class="form-group">
              <label>Quantity</label>
              <%= f.text_field :quantity, autocomplete: "off", placeholder: "Enter number to borrow", class: "form-control", required: true %>
            </div>

          

            <div class="box-footer">
              <%= f.submit "Submit", class: "btn btn-primary"%>
            </div>
            <% end %>
        </div>
      </div>
    </div>
    </div>
  </section>

</div>
</body>