<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <p>Sign up to get borrowing items.</p>
    <p>
      <%= link_to sign_up_path, class: 'btn btn-primary btn-lg' do %>
        Sign Up &raquo;
      <% end %>
    </p>
  </div>
</div>