<body class="hold-transition skin-blue sidebar-mini">

<div class="content-wrapper">

  <section class="content-header">

  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-header">
          <div class="box-header with-border">
            <h3 class="box-title">Item Information</h3>
          </div>
          <%= form_for @item, method: "PUT" do |f| %>
            <% if @item.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

                <ul>
                <% @item.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="box-body">
             <div class="form-group">
                <label>Product code</label>
                <%= f.text_field :product_code, autocomplete: "off", placeholder: "Enter Full Name", class: "form-control", required: true %>
              </div>
             <div class="form-group">
                <label>Name</label>
                <%= f.text_field :name, autocomplete: "off", placeholder: "Enter Email Address", class: "form-control", required: true %>
              </div>

               <div class="form-group">
                <label>Description</label>
                <%= f.text_field :description, autocomplete: "off", placeholder: "Enter Full Name", class: "form-control", required: true %>
              </div>
             <div class="form-group">
                <label>Quantity</label>
                <%= f.text_field :quantity, autocomplete: "off", placeholder: "Enter Email Address", class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <%= f.label :asset_type %>
                <%= f.select(:asset_type, [["Consumable","0"], ["Permanent","1"]], {}, { :class => 'form-control' })%>
              </div>
              <div class="form-group">
                <label>Cupboard</label>
                <%= f.select(:cupboard_id , options_from_collection_for_select(@cupboards, 'id', 'name', f.object.cupboard_id ), { include_blank: true }, { class: 'form-control', required: true }) %>
              </div>

            <div class="box-footer">
              <%= f.submit "Submit", class: "btn btn-primary"%>
            </div>
            <% end %>
        </div>
      </div>
    </div>
    </div>
  </section>

</div>
</body>