<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Items
        </h1>
       
      </section>


      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <td>Cupboard</td>
                      <th>Product Code</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Quantity</th>
                      <% if current_user.is_admin? %>
                        <th>Edit</th>
                        <th>Delete</th>
                      <% end %>
                      <th>Borrow</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @items.each do |item| %>
                    <tr>
                      <td><%= item.id %></td>
                      <td><%= item.cupboard.name %></td>
                      <td><%= item.product_code %></td>
                      <td><%= item.name %></td>
                      <td><%= item.description %></td>
                      <td><%= item.quantity %></td>
                      <% if current_user.is_admin? %>
                        <td><%= link_to 'Edit', edit_item_path(item) %></td>
                        <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure you want to delete this item?' } %></td>
                      <% end %>
                      <td><%= link_to 'Borrow', new_item_user_path(item_id: item.id) %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= link_to 'New Item', new_item_path %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</body>
