
<div class="col-md-12"><h1>New Item</h1>
<div class="jumbotron">
<%= render 'shared/errors', object: @item %>
<%= form_for @item do |f| %>
 
  <div class="form-group">
    <%= f.label :product_code %>
    <%= f.text_field :product_code, class: 'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :asset_type %>
    <%= f.select(:asset_type, [["Consumable","0"], ["Permanent","1"]], {}, { :class => 'form-control' })%>
  </div>
  <div class="form-group">
    <label>Cupboard</label>
    <%= f.select(:cupboard_id , options_from_collection_for_select(@cupboards, 'id', 'name' ), { include_blank: true }, { class: 'form-control', required: true }) %>
  </div>

  <%= f.submit 'Add Item', class: 'btn btn-primary btn-lg' %>
<% end %>
</div>
</div>