<!DOCTYPE html>
<html>
  <head>
    <title>Stock</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', root_path, class: "fa fa-home" %></li>
            <li><%= link_to 'Items', items_path, class: "fa fa-pencil" %></li>
            <li><%= link_to 'Users', users_path, class: "fa fa-pencil" %></li>
     
            <li><%= link_to 'Cupboards', new_cupboard_path, class: "fa fa-pencil" %></li>
           
          </ul>        
          <ul class="nav navbar-nav pull-right">
           
            <div class="nav navbar-nav">
              <% if current_user %>
                <div class="navemail">
                  <li><%= current_user.email %></li>
                  <li><%= link_to 'Sign Out', sign_out_path, method: :delete, class: "fa fa-sign-out" %></li>
                </div>
              <% else %>
                <li><%= link_to 'Sign In', sign_in_path, class: "fa fa-sign-in" %></li>
              <% end %>
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <% flash.each do |key, value| %>

        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>

     </div>


    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  </div>

  <footer>
 
  </footer>
  </body>